.price_grid_container{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
 .price_grid_heading{
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 3%;
}
.price_grid_heading p{
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
} 

.price_grid_btn{
    align-items: center;
    justify-content: center;
    width: 100%;
}
.price_grid_btn_inner{
    /* width: 100px; */
    padding: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
}

.price_grid_pckg{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    gap: 25px;
    padding: 20px 70px 70px 70px;
}
.price_grid_pckg_box{
    background: linear-gradient(267.18deg,#161616,#080808);
    border-radius: 20px;
    overflow: hidden;
    padding: 32px 40px 40px;
    position: relative;
    color: #fff;
}
.price_grid_pckg_box:hover{
    background: linear-gradient(225.10deg,#5d2d2d,#080808);
}
.price_grid_pckg_box_li{
    gap: 10px;
    padding: 30px 0px 30px 0px;
}